@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--fC);
    font-family: "Montserrat";
}
:root{
--fC:#000000;
--nude:#E4E0DB;
--boxS:brightness(75%);

}
body{
    background-color: #ffffff;
}


header{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 70px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: 0.6s;
   z-index: 1;
}

header.sticky{
    background-color: #fafafa;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 40px;
    font-size: 26px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
}

header .logo{
    padding: 0 100px;
    cursor: pointer;
}
.banner{
    width: 100%;
    height: 75vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0)50%, rgb(255, 255, 255) 100%), url(imgs/pic1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   position: relative;

}

.name{
    text-align: center;
    position: absolute;
    font-family: "Merriweather";
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: rgb(0, 0, 0);
}

 .slogan{
    text-align: center;
    position: absolute;
    font-family: "Merriweather";
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    color: rgb(0, 0, 0);
}

.arrow{
    position: relative;
    left: 48.5%;
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background: url(imgs/arrowR.png);
    transform: rotate(90deg);
}

.boxes{
    position: relative;
    margin: 0 auto 0 auto;
    line-height: 100px;
    font-size: 60px;
    font-family: "Montserrat";
    font-weight: bold;
    width: 85%;
    height: 94px;
    text-align: center;
    background-color: #E4E0DB;
}

.group_images{
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 40px auto 100px auto;
    width:  85%;
    height: 80vh;
    background-color: var(--nude);
    background-repeat: no-repeat;
    
}
.gimgsT{
    font-weight: bold;
    top: 50%;
    left: 30%;
    position: absolute;
    line-height: 85px;
    font-size: 80px;
    font-family: "Montserrat";
    color: #ffffff;
    transform: translate(-15%, -50%);
}

.column1{
    
    flex: 25%;
    padding-right: 4px;
    
}

.column2{
    flex: 25%;
    padding-left: 5px;
}


.column1 img:first-child{
    padding-bottom: 8px;
    max-height: 350px;
    width: 100%;
    object-fit: cover;
    object-position: 0 70%;
    filter: var(--boxS);
}
.column1 img:last-child{
    width: 100%;
    max-height: 445px;
    object-fit: cover;
    object-position: 0 72%;
    filter:var(--boxS);
}

.column2 img:first-child{
    padding-bottom: 8px;
    width: 100%;
    max-height: 445px;
    object-fit: cover;
    object-position: 0 62%;
    filter:var(--boxS);
}
.column2 img:last-child{
    max-height: 350px;
    width: 100%;
    object-fit: cover;
    object-position: 0 66%;
    filter:var(--boxS);
    
}

.designsBox{
    display: flex;
    flex: 25%;
    position: relative;
    margin: 84px 0 84px 7%;
}
.designs img{
    margin: 0 10px 0 10px;
    height: 550px;
    width: 385px;
    background-repeat: no-repeat;
    object-fit: cover;
    filter:var(--boxS);
}

.designs img:last-child{
    object-position: 65% 0%;
}

.designs p{
    position: absolute;
    font-family: "Montserrat";
    font-size: 35px;
    font-weight: 400;
    margin: -6% 0 0 20px;
    padding-right: 40%;
    color: #ffffff;

}
.colorBox{
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 40px auto 100px auto;
    width:  85%;
    height: 90vh;
    background-color: var(--nude);
    background-repeat: no-repeat;
}