/*imported font families*/  
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

/*Global base properties*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--fC);
    font-family: "Montserrat";
    /*errasse the "/**'/" for ghost elements
    /background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
    */
}

/*variables*/
:root{
--fC:#000000;
--nude:#E4E0DB;
--boxS:brightness(75%);

/*background page color  */
}
body{
    background-color: #ffffff;
}

/*navbar properties*/
header{
   position: fixed;
   width: 100%;
   height: 70px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: 0.6s;
   z-index: 1;
}

/*when get "sticky" = change color to*/
header.sticky{
    background-color: #fafafa;
}

/*Positions and properties of navbar*/
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

/*Position, size, font, color,etc of navbar options*/
header ul li a {
    position: relative;
    margin: 0 40px;
    font-size: 26px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
}

/*navbar logo*/
header .logo{
    padding: 0 100px;
    cursor: pointer;
}

/*Hero image, size, position, gradient*/
.banner{
    width: 100%;
    height: 75vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0)50%, rgb(255, 255, 255) 100%), url(imgs/pic1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   position: relative;

}

/* brand name position, font, size, color*/
.name{
    text-align: center;
    position: absolute;
    font-family: "Merriweather";
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: rgb(0, 0, 0);
}

/*text under brand name (position, color, size, font, etc.)*/
 .slogan{
    text-align: center;
    position: absolute;
    font-family: "Merriweather";
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    color: rgb(0, 0, 0);
}

/*Just position and size of arrow*/
.arrow{
    position: relative;
    left: 48.5%;
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background: url(imgs/arrowR.png);
    transform: rotate(90deg);
}

/*Text between sections, position, color, size, font of box and text*/
.boxes{
    position: relative;
    margin: 0 auto 0 auto;
    line-height: 100px;
    font-size: 60px;
    font-family: "Montserrat";
    font-weight: bold;
    width: 85%;
    height: 94px;
    text-align: center;
    background-color: #E4E0DB;
}

/*Position of collage box, size, color,*/
.group_images{
    vertical-align: middle;
    display: flex;
    position: relative;
    margin: 40px auto 100px auto;
    width:  85%;
    height: 80vh;
    background-color: var(--nude);
}

/*Text in the middle of collage box (size, color, position,etc.)*/
.gimgsT{
    font-weight: bold;
    top: 50%;
    left: 30%;
    position: absolute;
    line-height: 85px;
    font-size: 80px;
    font-family: "Montserrat";
    color: #ffffff;
    transform: translate(-15%, -50%);
}

/*Group of images left side (flex, padding)*/
.column1{
    flex: 25%;
    padding-right: 4px;
}

/*Group of images right side (flex, padding)*/
.column2{
    flex: 25%;
    padding-left: 5px;
}

/*size, padding, filter, fit Of top left picture*/
.column1 img:first-child{
    padding-bottom: 8px;
    max-height: 350px;
    width: 100%;
    object-fit: cover;
    object-position: 0 70%;
    filter: var(--boxS);
}
/*size, padding, filter, fit Of bottom left picture*/
.column1 img:last-child{
    width: 100%;
    max-height: 445px;
    object-fit: cover;
    object-position: 0 72%;
    filter:var(--boxS);
}

/*size, padding, filter, fit Of top right picture*/
.column2 img:first-child{
    padding-bottom: 8px;
    width: 100%;
    max-height: 445px;
    object-fit: cover;
    object-position: 0 62%;
    filter:var(--boxS);
}

/*size, padding, filter, fit Of bottom right picture*/
.column2 img:last-child{
    max-height: 350px;
    width: 100%;
    object-fit: cover;
    object-position: 0 66%;
    filter:var(--boxS);
    
}

/*position and margin, display of designs box*/
.designsBox{
    width: auto;
    display: flex;
    position: relative;
    margin: 84px 138px 84px 138px;
}

/*position, size, filter of designs box*/
.designs img{
    margin: 0 10px 0 10px;
    height: 550px;
    width: 387px;
    background-repeat: no-repeat;
    object-fit: cover;
    filter:var(--boxS);
}

/*object-position of last pictue*/
.designs img:last-child{
    object-position: 65% 0%;
}

/*Text position, size color,etc of designs section*/
.designs p{
    position: absolute;
    font-family: "Montserrat";
    font-size: 35px;
    font-weight: 400;
    margin: -6% 0 0 20px;
    color: #ffffff;
}

/*Color, size, position, etc of colors section */
.colorBox{
    vertical-align: middle;
    display: flex;
    position: relative;
    margin: 84px auto 100px auto;
    width:  85%;
    height: 90vh;
    background-color: var(--nude);
}

/*Size, position, align, etc "Text box"*/
.textColorS {
    text-align: center;
    top: 87%;
    left: 50%;
    position: absolute;
    line-height: 85px;
    font-family: "Montserrat";
    transform: translate(-50%, -50%);
}

/*Size, paddind, Title text*/
.cbTtile {
    letter-spacing: 3px;
    padding: 30px 0 0px 0;
    font-size: 50px;
   
}

/*Size, margin, small text*/
.cbParag {
    margin: -30px;
    font-size: 25px;
}

/*Size, paddind, pic position left side*/
.column1imgs img{
    padding: 30px 30px 30px 30px;
    width: 778px;
    height: 70vh;
    object-fit: cover;
    object-position: 0 55%;
}

/*Size, paddind, pic position right side*/
/*this one is focused on both*/
.column2imgs img{
    padding: 30px 30px 30px 0;
    width: 750px;
    height: 37%;
    object-fit: cover;
    object-position: 0 66%;
}

/*Size, paddind, pic position. bottom right side picture*/
/*focused on bottom rigth side*/
.column2imgs img:last-child{
    padding: 0 30px 30px 0;
    object-position: 0 68%;
}


.footer{
display: flex;
justify-content: space-between;
}
.footerTextBox{
position: relative;
text-align: center;
}

.footerInfo{
    font-size: 20px;
    letter-spacing: 2px;
}
.footerInfo button{
    font-size: 20px;
    letter-spacing: 2px;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.footerInfo button:hover{
    font-size: 20px;
    letter-spacing: 2px;
    color: rgb(0, 153, 255);
}
.location{
    font-size: 15px;
    margin: 10px 0 30px 0;
}

.logoft{
    padding: 0 100px;
    cursor: pointer;
}

.sclogos{
margin: 0 100px 0 0;
}