/*imported font families*/  
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

/*variables*/
:root{
    --fC:#000000;
    --nude:#E4E0DB;
    --boxS:brightness(75%);
}  
/*Global base properties*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--fC,#000000);
    font-family: "Montserrat";
   /*ERRASE IN DEBUG */
   /*background: #000 !important;
   color: #0f0 !important;
   outline: solid #f00 1px !important;*/
    
}

/*background page color  */
body{
    background-color: #ffffff;
}

/*navbar properties*/
header{
   position: fixed;
   width: 100%;
   height: 7vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: 0.6s;
   z-index: 1;
}

/*when get "sticky" = change color to*/
header.sticky{
    background-color: #fafafa;
}

/*Positions and properties of navbar*/
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
    padding:  auto;
}

/*Position, size, font, color,etc of navbar options*/
header ul li a {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 2.5vw;
    font-size: 1.8vw;
    text-decoration: none;
    letter-spacing: .2vw;
    color: #ffffff;
  
}
header.sticky ul li a{
    color: #000000;
    font-size: 1.8vw;
}

/*navbar logo*/
header .logo img{
    display: flex;
    align-items: center;
    width: 4.5vw;
    height: 4.5vw;
    margin:  0 0 0 4vw; 
    cursor: pointer;
}

/*Hero image, size, position, gradient*/
.banner{
    width: 100%;
    height: 91vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0)70%, rgb(255, 255, 255) 100%), url(imgs/pic1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 86%;
   position: relative;

}

/* brand name position, font, size, color*/
.name{
    text-align: center;
    position: absolute;
    font-family: "Merriweather";
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vh;
    color: rgb(0, 0, 0);
}

/*text under brand name (position, color, size, font, etc.)*/
 .slogan{
    text-align: center;
    position: absolute;
    font-family: "Merriweather";
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
    margin-top: 1vh;
    color: rgb(0, 0, 0);
}

/*Just position and size of arrow*/
.arrow img{
    position: relative;
    left: 47%;
    width: 6vw;
    height: 6vw;
    padding: auto;
    transform: rotate(90deg);
}

/*Text between sections, position, color, size, font of box and text*/
.boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 2vh auto 6vh auto;
    line-height: 100px;
    font-size: 4vw;
    letter-spacing: 0.3vw;
    font-family: "Montserrat";
    font-weight: bold;
    width: 85%;
    height: 9vh;
    text-align: center;
    background-color: #E4E0DB;
}

/*Position of collage BOX, size, color,*/
.group_images{
    display: flex;
    position: relative;
    margin: auto;
    margin-bottom: 10vh;
    margin-top: 6vh;
    width:  85%;
    height: 80vh;
    background-color: var(--nude,#E4E0DB);
}

/*Text in the middle of collage box (size, color, position,etc.)*/
.gimgsT{
    font-weight: bold;
    top: 50%;
    left: 30%;
    position: absolute;
    font-size: 10vh;
    font-family: "Montserrat";
    color: #ffffff;
    transform: translate(-15%, -50%);
}

/*Group of images left side (flex, padding)*/
.column1{
    display: flex;
    flex-wrap: wrap;
    padding-right: 0.5vw;
}

/*Group of images right side (flex, padding)*/
.column2{
    display: flex;
    flex-wrap: wrap;
}

/*size, padding, filter, fit Of top left picture*/
.column1 img:first-child{
    height: 34.8vh;
    width: 41.8vw;
    padding-bottom: 0.5vw;
    object-fit: cover;
    object-position: 0 70%;
    filter: var(--boxS,75%);
}
/*size, padding, filter, fit Of bottom left picture*/
.column1 img:last-child{
    width: 41.8vw;
    height: 44.2vh;
    object-fit: cover;
    object-position: 0 72%;
    filter:var(--boxS,75%);
}

/*size, padding, filter, fit Of top right picture*/
.column2 img:first-child{
    padding-bottom: 0.5vw;
    width: 41.8vw;
    height: 44.4vh;
    object-fit: cover;
    object-position: 0 62%;
    filter:var(--boxS,75%);
}

/*size, padding, filter, fit Of bottom right picture*/
.column2 img:last-child{
    height: 34.6vh;
    width: 41.8vw;
    object-fit: cover;
    object-position: 0 66%;
    filter:var(--boxS);
    
}

/*position and margin, display of designs box*/
.designsBox{
    width: 80%;
    display: flex;
    position: relative;
    margin: auto;
    margin-bottom: 6vh;
    padding-top: 3vh;
    padding-right: 5vw;
}

/*position, size, filter of designs box*/
.designs img{
    margin: 0 1vw 0 1vw;
    height: 55vh;
    width: 20.325vw;
    object-fit: cover;
    filter:var(--boxS,75%);
}

.designs img:first-child{
    margin: 0 1vw 0 0;
}
/*object-position of last pictue*/
.designs img:last-child{
    object-position: 65% 0%;
}

/*Text position, size color,etc of designs section*/
.designs p{
    display: flex;
    position: relative;
    font-family: "Montserrat";
    font-size: 4.2vh;
    font-weight: 400;
    color: #ffffff;
}
.designTexs{
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    margin: 0 0 0 1%;
    top: 70%;
}

/*Color, size, position, etc of colors section */
.colorBox{
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0 auto 8vh auto;
    width:  85%;
    height: 90vh;
    background-color: var(--nude,#E4E0DB);
}

/*Columns of pictures in a BOX*/
.columns{
display: flex;
flex-wrap: nowrap;
}

/*Size, position, align, etc "Text box"*/
.textColorS {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: -2%;
    align-items: center;
    font-family: "Montserrat";
    
}

/*Size, paddind, Title text*/
.cbTtile {
    letter-spacing: .66vw;
    font-size: 3vw;
   
}

/*Size, margin, small text*/
.cbParag {
    font-size: 1.4vw;
}

.column2imgs{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

/*Size, paddind, pic position left side*/
.column1imgs img{
    padding: 4vh 1vw 0 2.8vw;
    width: 38.5vw;
    height: 72.3vh;
    object-fit: cover;
    object-position: 0 55%;
}

/*Size, paddind, pic position right side*/
/*this one is focused on both*/
.column2imgs img{
    padding: 4vh 3vw 2vh 0;
    width: 38.5vw;
    height: 35.2vh;
    object-fit: cover;
    object-position: 0 66%;
}

/*Size, paddind, pic position. bottom right side picture*/
/*focused on bottom rigth side*/
.column2imgs img:last-child{
    padding: 0 0 0 0;
    object-position: 0 68%;
}

/*just display and content of footer "box" */
footer{
height: 9vh;
display: flex;  
justify-content: space-between; 
}

/*Text align of footer */
.footerTextBox{
position: relative;
text-align: center;
align-items: center;
margin: 2vh;
}

/*brand name and privacity font size and spacing*/
.footerInfo{
    font-size: 2vh;
    letter-spacing: .3vw;
    margin: auto;
}

/*privacity button font size, border, bacrkground, etc. */
.footerInfo button{
    font-size: 2vh;
    letter-spacing: 0.1vw;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

/*Privacity hover color size,etc*/
.footerInfo button:hover{
    font-size: 2vh;
    letter-spacing: 0.1vw;
    color: rgb(0, 153, 255);
}

/*location text size, margin */
.location{
    font-size: 1.5vh;
    margin: auto;
    padding-top: 1vh;
}

/*logo position */
.logoft img{
    display: flex;
    align-items: center;
    width: 4.5vw;
    height: 4.5vw;
    margin:  0 0 0 5vw; 
    cursor: pointer;
}

/*socialmedia logos positions */
.sclogos img{
    width: 3vw;
    height: 3vw; 
    cursor: pointer;
}

/* Modal  */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: var(--nude,#E4E0DB);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }